.contact {
  padding-top: 100px;
  background: #f2f4f5;
  width: 100%;
  height: 100%;
  color: var(--tittle-letter);
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.contact span {
  color: black;
}

.contact .map {
  display: flex;
  flex-direction: column;
}

.contact .map h1 {
  font-weight: normal;
  font-size: 80px;
  margin: 0;
}

.contact .map span {
  font-size: 20px;
  margin: 16px 0;
}

.contact .form-contact {
  margin-top: 34px;
}

.contact .form-contact form {
  display: flex;
  flex-direction: column;
}

.contact .form-contact input {
  background-color: gainsboro;
  border: none;
  border-radius: 8px;
  height: 32px;
  font-size: var(--md);
  padding: 6px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.contact .form-contact textarea {
  background-color: gainsboro;
  border: none;
  border-radius: 8px;
  font-size: var(--md);
  padding: 6px;
  height: 252px;
  width: 556px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.contact .form-contact .submit-button {
  background-color: #4caf50;
  border-radius: 8px;
  border: none;
  color: white;
  width: 100%;
  height: 50px;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
}

/*Laptop*/
@media (max-width: 1366px) {
  .mapa {
    display: flex;
    justify-content: center;
  }

  iframe {
    width: 550px;
    height: 350px;
  }

  .contact .map h1 {
    font-size: 60px;
  }

  .contact .map span {
    font-size: 17px;
  }

  .contact .form-contact textarea {
    height: 150px;
    width: 360px;
  }
}

@media (max-width: 1024px) {
  .contact {
    flex-direction: column;
    height: 100%;
    align-items: center;
  }

  .contact .map h1 {
    font-size: 60px;
    text-align: center;
  }

  .contact .form-contact {
    width: 460px;
  }

  .contact .form-contact textarea {
    width: 450px;
  }
}

@media (max-width: 768px) {
  .contact .map h1 {
    font-size: 50px;
  }

  .contact .map span {
    text-align: center;
    width: 400px;
    font-size: 17px;
  }

  iframe {
    width: 400px;
    height: 350px;
  }

  .contact .form-contact {
    width: 360px;
  }

  .contact .form-contact textarea {
    width: 350px;
  }

  @media (max-width: 480px) {
    .contact .map h1 {
      font-size: 40px;
    }

    .contact .map span {
      text-align: center;
      width: 300px;
      font-size: 17px;
    }

    iframe {
      width: 300px;
      height: 250px;
    }

    .contact .form-contact {
      width: 260px;
    }

    .contact .form-contact textarea {
      width: 250px;
    }
  }

  @media (max-width: 360px) {
    .contact .map h1 {
      font-size: 35px;
    }

    .contact .map span {
      text-align: center;
      width: 250px;
      font-size: 16px;
    }

    iframe {
      width: 250px;
      height: 250px;
    }

    .contact .form-contact {
      width: 230px;
    }

    .contact .form-contact textarea {
      width: 220px;
    }
  }
}